{% extends "_base_.html" %}
{% load static %}
    {% block title %}
    <title>Oddaj rzeczy | Panel użytkownika</title>
    {% endblock %}
  <body>
    {% block header %}
    <header class="header--main-page">
    {% endblock %}
    {% block content %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Panel użytkownika
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85"></div>
    </section>

     <section id="help" class="help">
      <h2></h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Dane użytkownika</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Przekazane dary</a></li>
        <li><a href="/settings/" class="btn btn--without-border">Ustawienia</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title"><b>Imię i nazwisko:</b></div><br>
              <div class="subtitle">{{ user.first_name }} {{ user.last_name }}</div>
            </div>
            <div class="col">
              <div class="title"><b>Adres email:</b></div><br>
              <div class="subtitle">{{ user.username }}</div>
            </div>
          </li>
        </ul>
      </div>


      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>Przekazane dary</p>
        <ul class="help--slides-items">
          <li>
              {% for donation in donations %}
            <div class="col">
              <div class="title">Dar dla: {{ donation.institution.first }}</div><br>
                {% for category in donation.categories.all %}
              <div class="subtitle">Kategorie: {{ category }}</div>
                {% endfor %}
              <div class="subtitle">Ilość worków: {{ donation.quantity }}</div>
              <div class="subtitle">Odbiór: {{ donation.pick_up_date }}</div>
            </div>
              {% endfor %}
          </li>
        </ul>

        <!-- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="4">4</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="5">5</a></li>
        </ul>
        -->
      </div>
    </section>
  </body>
</html>
{% endblock %}