{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
{% block header %}
{% endblock %}
      <nav class="container container--70">
          {% if user.is_authenticated %}
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
              <li><a href="/logout/">Wyloguj</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="nav--actions">
            <li><a href="/login/" class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a href="/register/" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
        {% endif %}

    <ul>
        <li><a href="/" class="btn btn--without-border active">Start</a></li>
        <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
        <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="/add/" class="btn btn--without-border">Przekaż dary</a></li>
        <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>
{% block content %}
{% endblock %}
{% include "form_contact.html" %}
<script src="{% static "js/app.js" %}"></script>
</body>
</html>
